<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Task manager</title>
	<link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" >
</head>
<body>
<div id="app">
	<header >
		<div class="logo"></div>
		<div class="header-wrap">
			<div class="title">Task manager</div>
			<div class="info">Add tasks using the register form and drag them through the status columns. New tasks will automatically fill in the "Backlog" column. </div>
		</div>
		<div class="info-icon" @mouseover="info()" @mouseout="info_back()">
			<i class="fas fa-info-circle"></i>
		</div>
	</header>

	<div class="task-wrap">
		<div class="add-task">
			<form action="" method="" v-on:submit.prevent>
				<fieldset>
						<legend>Add task</legend>
					<input type="text" placeholder="Exmp: Learn HTML..." v-model="newTask" @keyup.enter="addTask()" >
					<button type="button" @click="addTask()" >+ Add task</button>
				</fieldset>
			</form>
			<div class="submenu">
				<div class="sub-backlog" @click="sub_backlog">To Backlog</div>
				<div class="sub-inprogress" @click="sub_inprogress">To In-progress
				</div>
				<div class="sub-done" @click="sub_done">To Done</div>
			</div>
		</div>
	</div>

	<div class="task-content">
		<!-- Первый блок-->
		<div class="task-list backlog">
			<h1>Backlog({{ taskList.backlog.length }})</h1>
			<hr>
			<div class="task-field">
				<draggable v-model="taskList.backlog" group="gr" @start="drag=true" @end="drag=false"
				@change="saveTasks()"
				>
				<task-unit 
					v-for="(box, index) in taskList.backlog"
					v-bind:id="box.id"
					v-bind:text="box.task"
					v-bind:n="index"
					:key="box.id"
					data-col="backlog"
				></task-unit>
				</draggable>
			</div>
		</div>
		<!-- Второй блок-->
		<div class="task-list inprogress">
			<h1>In-Progress({{taskList.inprogress.length}})</h1>
			<hr>
			<div class="task-field">
				<draggable v-model="taskList.inprogress" group="gr" @start="drag=true"
					@end="drag=false"
				@change="saveTasks()">
					<task-unit v-for="(box, index) in taskList.inprogress" v-bind:id="box.id" v-bind:text="box.task" v-bind:n="index"
						:key="box.id"
						data-col="inprogress"></task-unit>
				</draggable>
			</div>
		</div>
		<!-- Третий блок-->
		<div class="task-list done">
			<h1>Done({{taskList.done.length}})</h1>
			<hr>
			<div class="task-field">
				<draggable v-model="taskList.done" @start="drag=true" @end="drag=false"
				@change="saveTasks()"
				group="gr"
				>
				<task-unit v-for="(box, index) in taskList.done" v-bind:id="box.id" v-bind:text="box.task" v-bind:n="index"
					:key="box.id"
					data-col="done"></task-unit>
				</draggable>
			</div>
		</div>
	</div>
</div>
	<footer>Copyright Nikita Glazkoff 2019 ©</footer>
	<script src="vue.js"></script>
	<script src="//cdn.jsdelivr.net/npm/sortablejs@1.8.4/Sortable.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/Vue.Draggable/2.20.0/vuedraggable.umd.min.js"></script>
	<script src='script.js'></script>
</body>
</html>