
body 
{
	background: #276D9B;
	padding: 0px;
	margin: 0;
	color: #0F2417;
}
/*Стили шапки*/
header {
	background: #E9F7F9;
	width: 100%;
	box-shadow: 0px 2px 15px  rgba(0,0,0,.5);
	height: 110px;
}
.logo {
	background: #E9F7F9 url(img/ws_russia.png) 0 0 no-repeat;
	width: 211px;
	height: 100px;
	background-size: 190px;
	float: left;
	margin: 3px;
	margin-left: 6px;
}
.header-wrap {
height: 100%;
width: auto;
position: relative;
}
.title {
	display: inline-block;
	vertical-align: middle;
	height: 110px;
	box-sizing: border-box;
	padding-top: 20px;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 50px;
	color: #0F2417;
	padding: 25px;
}
.info {
	display: inline-block;
	vertical-align: middle;	
	height: 100%;
	box-sizing: border-box;
	font-size: 18px;
	width: 420px;
	color: #0F2417;
	position: absolute;
	right: 100px;
	padding: 20px 25px;
	top: 0;
	font-family: sans-serif;
	text-align: center;
	font-style: italic;
}
.info-icon {
	position: absolute;
	top: 25px;
	right: 	510px;
	display: block;
	width: 50px;
	height: 50px;
	font-size: 50px;
}
.info-icon i {
	color: #0F2417;
}
/*Стили формы добавления*/
.task-wrap {
	position: sticky;
	top: 0;
	z-index: 2;
	height: 120px;
}
.add-task {
	position: absolute;
	top: 0;
	left: 10px;
	width: 650px;
	height: auto;
	background: #E9F7F9;
	margin-top: 10px;

	
	box-shadow: 0px 5px 15px rgba(0,0,0,.1);
}
.add-task form {
	padding: 10px;
	padding-bottom: 15px;
	
}
input[type="text"] {
border-radius: 3px;
border: 1px solid #0F2417;
background: #E9F7F9;
height: 40px;
width: 250px;
padding: 0px;
box-sizing: border-box;
font-size: 20px;
padding-left: 10px;
transition: 0.3s width ease-in-out;
}
input[type="text"]:focus {
	background: #fbfbff;
	outline-color: #276D9B;
	width: 350px;
}
form button {
border-radius: 3px;
border: 1px solid #0F2417;
background: #E9F7F9;
font-family: sans-serif;
font-size: 20px;
height: 40px;
width: 125px;
transition: 0.2s all ease-in-out;
}
form button:hover {
	cursor: pointer;
	background: #C0CACC; 
}
.add-task fieldset {
	border-radius: 3px;
	border: 1px solid #0F2417;
	width: 600px;
}
.add-task fieldset legend {
	font-family: sans-serif;
}

/*Стили поля задач*/
.task-content {
	margin: 0 auto;
	width: 1200px;
	height: auto;
	display: flex;
	justify-content: space-between;
}
.task-list {
	background: #E9F7F9;
	height: auto;
	width: 32%;
	border: 1px dashed #0F2417;
	box-shadow: 0px 2px 15px  rgba(0,0,0,.5);
	margin-bottom: 25px;
	padding-bottom: 25px;
}
.task-list h1 {
	font-family: sans-serif;
	font-size: 28px;
	display: block;
	width: 100%;
	text-align: center;
	line-height: 30px;
}
.task-list hr {
	width: 70%;
	height: 2px;
	background-color: #0F2417;
}
/*Стили самих задач*/
.task-box {
	width: 90%;
	height: 300px;
	background: #FFFF91;
	margin: 0 auto;
	padding: 25px;
	box-sizing: border-box;
	box-shadow: 2px 2px 5px rgba(0,0,0,.5);
	margin-top: 25px;
	position: relative;
}
.task-box h2 {
	font-family: sans-serif;
	padding: 0;
	margin: 0;
}
.task-box textarea {
	font-size: 20px;
	font-family: sans-serif;
	background: transparent;
	border: 0px solid black;
	resize: none;
	overflow: visible;
	padding-top: 5px;
	width: 100%;
	height: 65%;
}
.task-box .activeText {
	background: rgba(255,255,255,.5);
	outline: 1px solid blue;
}
.task-box .activeText:focus {
	outline: 0px solid blue;
}
.fa-edit, .fa-save, .fa-times-circle, .fa-check-circle {
	font-size: 40px;
	cursor: pointer;
}
.task-box-btn {
	position: absolute;
	right: 30px;
	bottom: 30px;
}
.fa-edit {
	margin-right: 5px;
}
.fa-save {
	position: relative;
	top: 2px;
	margin-right: 15px;
}
footer {
	font-family: sans-serif;
	padding-left: 25px;
	padding-bottom: 20px;
}
.submenu {
	display: none;	
}
@media (max-width: 1240px) {
	header {
		height: 110px;
		overflow-y: hidden;
		transition: 0.5s all ease-in;
	}
	.info-icon {
		left: 590px;
	}
	.title {
		width: 60%;
	}
	.info {
		position: unset;
		display: block;
		width: 100%;
		height: auto;
	}
	body {
		overflow-x: hidden;
	}
	.task-content {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: 1fr;
		grid-gap: 2%;
	}
	.task-list {
		width: 100%;
	}
}
@media (max-width: 800px) {
	.submenu {
		display: flex;
		width: 100%;
		justify-content: space-between;
		border-top: 1px solid #000;
		border-bottom: 1px solid #000;
	}
	.submenu * {
		padding: 5px;
		text-align: center;
		width: 33%;
		cursor: pointer;
		font-family: sans-serif;
		text-decoration: underline;
	}
	.submenu *:not(:last-child) {
		border-right: 1px solid black;

	}
	.task-content {
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-gap: 1%;
	}
	.backlog {
		grid-area: 1/1/2/2;
	}
	.inprogress {
		grid-area: 1/2/2/3;
	}
	.done {
		grid-area: 2/1/3/2;
	}
	.task-wrap {
		width: 100%;
		height: 150px;
	}
}
@media (max-width: 660px) {
.info-icon {
	left: 520px;
}
.task-wrap {
	width: 100%;
	height: 150px;
}
.add-task {
	width: 98%;
	left: 1%;

}
.add-task fieldset {
	width: 100%;
	box-sizing: border-box;
}

fieldset input[type="text"] {
	width: calc(95% - 125px);
}

fieldset input[type="text"]:focus {
	width: calc(95% - 125px);
}
.title {
	font-size: 44px;
	padding-left: 0;
}
}
@media (max-width: 500px) {
	.logo {
		margin: 0 auto;
		float: unset;
	}
.task-content {
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-gap: 0.5%;
}
.task-list {
	margin-bottom: 0;
}
.backlog {
	grid-area: 1/1/2/2;
}

.inprogress {
	grid-area: 2/1/3/2;
}

.done {
	grid-area: 3/1/4/2;
}
.add-task {
	width: 100%;
	left: 0;
	margin-top: 0;
}
header {
	height: auto;
}
.task-wrap {
	height: 155px;
	margin-top: 10px;
}
.title {
	width: 100%;
	padding-top: 0;
	height: auto;
	padding-left: 25px;
	text-align: center;
	padding-bottom: 0;
	font-size: 38px;
}
.info-icon {
	display: none;
}
body {
	overflow-x: hidden;
}
.info {
	padding: 5px;
}
.header-wrap {
	height: auto;
}
.task-box {
	min-height: 180px;
	height: auto;
}
footer {
	margin-top: 50px;
}
}