<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <div class="column1">
        <draggable v-model="tasks.tasks1" 
        group="people"
        @start="drag=true" @end="drag=false">
            <!-- <transition-group> -->
                <test v-for="task in tasks.tasks1" v-bind:text="task.text" :key="task.id"></test>
            <!-- </transition-group> -->
        </draggable>
        </div>
        <br>Разделительная черта<br><br>
        <div class="column2">
            <draggable v-model="tasks.tasks2" group="people" @start="drag=true" @end="drag=false">
            <test v-for="task in tasks.tasks2" v-bind:text="task.text" :key="task.id"></test>
            </draggable>
        </div>
    </div>

    <script src="vue.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sortablejs@1.8.4/Sortable.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/Vue.Draggable/2.20.0/vuedraggable.umd.min.js"></script>
    <script src="test.js"></script>
</body>
</html>